html{
	display:block;
}
body {
    margin: 0;
    background-color: #e6e7e8;
    font-family: Arial, Helvetica, sans-serif;
}
.page {
    width: 1180px;
    margin: 0 auto;
}
#top_heading {
	/*background:url(../images/bg-header.jpg) no-repeat;*/
	height:150px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
# top_heading a#logo {
    display: inline-block;
    float: left;
    height: 25px;
    margin: 0;
    width: 25px;
}





a {
    outline: none;
}


