html{
	display:block;
}
body {
    margin: 0;
    background-color: #e6e7e8;
    font-family: Arial, Helvetica, sans-serif;
}
div.page {
    width: 1180px;
    margin: 0 auto;
}

div.top_heading  {
    display: inline-block;
    
    height: 50px;
    margin: 0px;
    width: 900px;
    text-align:center;
    
   font bold 40px Tahoma;
   padding:5px;
   border:1px solid red;
   }
#navig li{
                          	display:inline-block;
                          	padding:5px;
                          }








